<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Book</title>
    <style>
                      nav {
      display: flex; /* 1 */
      justify-content: space-between; /* 2 */
      padding: 1rem 2rem; /* 3 */
      background: cornflowerblue; /* 4 */
      color: white /* 4 */
    }

    nav ul {
    display: flex; /* 5 */
    list-style: none; /* 6 */
    }

    nav li {
    padding-left: 1rem; /* 7! */
    }
    nav a {
    text-decoration: none;
    color: white;
    }

    nav a:hover {
        text-decoration: underline;
    }

    .logout{
      background-color: black;
    }

    </style>
</head>
<body>
        <nav>
        <h2>Admin Dashboard</h2>
        <ul>
          <li><a href="/v1/buku">Buku</a></li>
          <li><a href="/v1/genre">Genre</a></li>
          <li><a href="/v1/peminjaman">Peminjaman</a></li>
        </ul>
        <button class="logout" type="button"><a href="/v1/auth/logout">Logout</a></button>
      </nav>

      <div>
        <h1>Create Book</h1>
        <form action="/v1/buku" method="POST">
            <label for="genreId">Genre ID: </label>
            <input type="text" name="genreId" id="genreId" required> <br /> <br />
            <label for="title">Title:</label>
            <input type="text" name="title" id="title" required><br /> <br />
            <label for="author">Author: </label>
            <input type="text" name="author" id="author" required> <br /> <br />
            <label for="year_published">year published: </label>
            <input type="number" name="year_published" id="year_published" required> <br /> <br />
            <label for="stock">Stock :</label>
            <input type="number" name="stock" id="stock">

            <button type="submit">Create Project</button>
        </form>
      </div>
</body>
</html>